@import "tailwindcss";

:root {
  --background: #F3E7D9;
  --foreground: #786149;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-urbanist);
  --font-rubik: var(--font-rubik); 
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-urbanist), sans-serif;
}
